    div{
   text-align: center;
      
    }
    button{
      background-color: aliceblue;
    }
    input{
      background-color: aliceblue;
    }
    h1{
      color: tomato;
    }
    body{
      background-color: black;
      color: aliceblue;
    }